*,
*::before,
*::after {
  box-sizing: border-box;
}

ul, ol, body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd,
input, button {
  margin: 0;
  padding: 0;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

body {
  min-height: 100vh;
}

ul, ol {
  list-style: none;
}

img, picture {
  max-width: 100%;
  display: block;
}

input, button,
textarea, select {
  font: inherit;
}

button {
  border: none;
  background-color: inherit;
}

@font-face {
  font-family: "Bai Jamjuree";
  src: url("../fonts/BaiJamjuree-Regular.ttf");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Bai Jamjuree";
  src: url("../fonts/BaiJamjuree-SemiBold.ttf");
  font-style: normal;
  font-weight: 600;
}
:root {
  font-family: "Bai Jamjuree", sans-serif;
}

body {
  justify-content: center;
  align-items: flex-start;
}

main {
  width: 1440px;
  overflow: clip;
}

header {
  flex-direction: column;
  align-items: center;
}

.advantages {
  margin-top: 150px;
}

.features-top {
  margin-top: 80px;
  align-self: stretch;
  gap: 110px;
}

.flow > * + * {
  margin-top: var(--flow-space, 1rem);
}

.clr-primary, .section-title {
  color: #4C545C;
}

.clr-secondary, .section-paragraph {
  color: #9EABB2;
}

.clr-highlight {
  color: #FFFFFF;
}

.fnt-semi-bold {
  font-weight: 600;
}

.flex {
  display: flex;
}

.section-wrapper {
  --flow-space: 19px;
  max-width: 730px;
  text-align: center;
}

.section-title {
  font-size: 36px;
  font-weight: 600;
  letter-spacing: -0.587px;
}

.section-paragraph {
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.135px;
}

.content {
  flex-direction: column;
  align-items: center;
  background-repeat: no-repeat;
}

.header-text-wrapper {
  --flow-space: 16px;
  text-align: center;
}

.header__title {
  margin-top: 56px;
  font-size: 46px;
  letter-spacing: -0.75px;
}

.header__description {
  max-width: 730px;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.15px;
}

.header-buttons {
  margin-top: 48px;
  align-items: center;
  gap: 16px;
}

.download-button {
  width: 227px;
  height: 56px;
  border-radius: 28px;
  flex-shrink: 0;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.5px;
}

.ios-version {
  background-color: #26BBA4;
  box-shadow: 0 10px 20px 0 rgba(137, 229, 199, 0.5), 0px -3px 0px 0px rgba(0, 0, 0, 0.15) inset;
}

.mac-version {
  background-color: #6174FF;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1), 0px -3px 0px 0px rgba(0, 0, 0, 0.15) inset;
}

.features-list {
  flex-direction: column;
  align-items: flex-start;
  gap: 56px;
  padding-top: 68px;
}

.feature-item {
  --flow-space: 8px;
  max-width: 350px;
}

.feature-item__title {
  font-size: 24px;
  letter-spacing: -0.391px;
}

.feature-item__paragraph {
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.12px;
}

.download-button:hover {
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.ios-version:hover {
  background-color: #5DCCBB;
}

.mac-version:hover {
  background-color: #8896FF;
}

@media only screen and (width >= 1440px) {
  .content {
    background-image: url("../images/bg-header-desktop.png");
    padding-top: 128px;
  }
  .features-top__image {
    width: 752px;
    height: 572px;
    position: relative;
    left: -30px;
  }
}
@media only screen and (width < 1440px) {
  main {
    width: 375px;
  }
  .content {
    background-image: url("../images/bg-header-mobile.png");
    padding-top: 123px;
    padding-inline: 32px;
  }
  .header__title {
    margin-top: 64px;
    font-size: 32px;
    letter-spacing: -0.522px;
  }
  .header__description {
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.12px;
  }
  .header-buttons {
    width: 100%;
    flex-direction: column;
    gap: 24px;
  }
  .download-button {
    width: 100%;
  }
  .section-wrapper {
    --flow-space: 16px;
  }
  .section-title {
    font-size: 28px;
    letter-spacing: -0.457px;
  }
  .section-paragraph {
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.12px;
  }
  .snippets-section {
    margin-top: 160px;
  }
  .features-top {
    flex-direction: column;
    margin-top: 65px;
    align-self: stretch;
    gap: 56px;
  }
  .features-top__image {
    height: 238px;
  }
  .features-list {
    text-align: center;
    gap: 48px;
    padding-top: 56px;
  }
  .access-section {
    margin-top: 186px;
  }
}

/*# sourceMappingURL=style.css.map */
